<div id="detail-card">
  <ng-content select="a"></ng-content>
  <img
    [ngSrc]="pokemon.id + '.png'"
    alt="Pokemon Sprite"
    width="96"
    height="96"
    priority
  />
  <h1>{{ pokemon.name | titlecase }}</h1>
  <div class="card--bar"></div>
  <div class="slot--container">
    @for (type of types; track type.slot) {
      <type-slot [type]="type"></type-slot>
    }
  </div>

  <div class="card--heightWeight">
    <div class="height">
      <span class="title">Height</span>
      <span>{{ pokemon.height | weightHeight: "height" }}</span>
    </div>
    <div class="bar"></div>
    <div class="weight">
      <span class="title">Weight</span>
      <span>{{ pokemon.weight | weightHeight: "weight" }}</span>
    </div>
  </div>

  <stat-chart [stats]="pokemon.stats"></stat-chart>

  <h2 class="sound-title">Sounds:</h2>
  <div class="sound-container">
    <app-sound-button
      text="Legacy"
      [fileUrl]="pokemon.cries.legacy"
    ></app-sound-button>
    <app-sound-button
      text="Latest"
      [fileUrl]="pokemon.cries.latest"
    ></app-sound-button>
  </div>
</div>
