<div id="detail-card">
  <img src="{{pokemon.sprites.front_default}}" alt="">
  <h1>{{pokemon.name | titlecase}}</h1>
  <div class="card--bar"></div>
  <div class="slot--container">
    <type-slot *ngFor="let type of types" [type]="type"></type-slot>
  </div>

  <div class="card--heightWeight">
    <div class="height">
      <span class="title">Heigth</span>
      <span>{{ pokemon.height | weightHeight:"height"}}</span>
    </div>
    <div class="bar"></div>
    <div class=weight>
      <span class="title">Weight</span>
      <span>{{ pokemon.weight | weightHeight:"weight"}}</span>
    </div>
  </div>

  <stat-chart [stats]="pokemon.stats"></stat-chart>
</div>
