<ng-container *ngIf="pokemons$ | async as pokemonState">
  <search-input
    [value]="pokemonState.filter"
    (newFilter)="handleFilter($event)"
  ></search-input>
  <div id="card--container">
    <poke-card
      *ngFor="let pokemon of pokemonState.detailedPaginatedList"
      [pokemon]="pokemon"
      (click)="showDetail(pokemon)"
    ></poke-card>
  </div>
  <not-found-card
    *ngIf="
      !pokemonState.loading && pokemonState.detailedPaginatedList.length === 0
    "
  ></not-found-card>
  <div
    id="footer"
    *ngIf="pokemonState && pokemonState.detailedPaginatedList.length > 0"
  >
    <ng-container *ngIf="pagination$ | async as pagination">
      <pagination
        [pagination]="pagination"
        (clickNext)="handleNext()"
        (clickPrevious)="handlePrevious()"
      ></pagination>
    </ng-container>
  </div>
</ng-container>
