<search-input></search-input>

<ng-container *ngIf="pagination$ | async as pagination">
  {{ pagination | json }}
</ng-container>

<ng-container *ngIf="pokemons$ | async as pokemonResponse; else loading">
  <div id="card--container">
    <poke-card
      *ngFor="let pokemon of pokemonResponse"
      [pokemon]="pokemon"
      (click)="showDetail(pokemon)"
    ></poke-card>
  </div>

  <not-found-card
    *ngIf="pokemonResponse && pokemonResponse.length === 0"
  ></not-found-card>

  <div id="footer" *ngIf="pokemonResponse && pokemonResponse.length > 0">
    <pagination></pagination>
  </div>
</ng-container>
<ng-template #loading> Loading </ng-template>
