<ng-container *ngIf="pokemons$ | async as pokemonState">
  <search-input
    [value]="pokemonState.filter"
    (newFilter)="handleFilter($event)"
  ></search-input>
  <ng-container *ngIf="pagination$ | async as pagination">
    {{ pokemonState.filter }}
    {{ pokemonState.total }}
  </ng-container>
  <div id="card--container">
    <poke-card
      *ngFor="let pokemon of pokemonState.detailedPaginatedList"
      [pokemon]="pokemon"
      (click)="showDetail(pokemon)"
    ></poke-card>
  </div>

  <not-found-card
    *ngIf="
      !pokemonState.loading && pokemonState.detailedPaginatedList.length === 0
    "
  ></not-found-card>
  <ng-container *ngIf="pokemonState.loading"> Loading </ng-container>
  <div
    id="footer"
    *ngIf="pokemonState && pokemonState.detailedPaginatedList.length > 0"
  >
    <pagination></pagination>
  </div>
</ng-container>
