#slot {
  color: #fff;
  width: 100px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  div {
    border-radius: 30px;
    width: 100%;
    height: 20px;
    padding: auto;
    line-height: 20px
  }
}
