<div id="slot">
  @switch (type) {
    <!-- the same view can be shown in more than one case -->
    @case ("normal") {
      <div style="background-color: #dbdbdb">normal</div>
    }
    @case ("fire") {
      <div style="background-color: #f42">fire</div>
    }
    @case ("water") {
      <div style="background-color: #39f">water</div>
    }
    @case ("electric") {
      <div style="background-color: #fc3">electric</div>
    }
    @case ("grass") {
      <div style="background-color: #7c5">grass</div>
    }
    @case ("ice") {
      <div style="background-color: #6cf">ice</div>
    }
    @case ("fighting") {
      <div style="background-color: #b54">fighting</div>
    }
    @case ("poison") {
      <div style="background-color: #a59">poison</div>
    }
    @case ("ground") {
      <div style="background-color: #db5">ground</div>
    }
    @case ("flying") {
      <div style="background-color: #89f">flying</div>
    }
    @case ("psychic") {
      <div style="background-color: #f59">psychic</div>
    }
    @case ("bug") {
      <div style="background-color: #ab2">bug</div>
    }
    @case ("rock") {
      <div style="background-color: #ba6">rock</div>
    }
    @case ("ghost") {
      <div style="background-color: #66b">ghost</div>
    }
    @case ("dragon") {
      <div style="background-color: #76e">dragon</div>
    }
    @case ("dark") {
      <div style="background-color: #754">dark</div>
    }
    @case ("steel") {
      <div style="background-color: #aab">steel</div>
    }
    @case ("fairy") {
      <div style="background-color: #e9e">fairy</div>
    }
    @default {
      <div>?</div>
    }
  }
</div>
