<router-outlet></router-outlet>

<app-square-animation
  [color]="'blueviolet'"
  [heigth]="'16px'"
  [width]="'16px'"
  [position]="'15%'"
  [delay]="'0s'"
></app-square-animation>
<app-square-animation
  [color]="'white'"
  [heigth]="'15px'"
  [width]="'15px'"
  [position]="'90%'"
  [delay]="'1.5s'"
></app-square-animation>
<app-square-animation
  [color]="'#E6F1E1'"
  [heigth]="'15px'"
  [width]="'15px'"
  [position]="'7%'"
  [delay]="'.5s'"
></app-square-animation>
<app-square-animation
  [color]="'blueviolet'"
  [heigth]="'16px'"
  [width]="'16px'"
  [position]="'50%'"
  [delay]="'2.5s'"
></app-square-animation>
<app-square-animation
  [color]="'#CAE3E8'"
  [heigth]="'15px'"
  [width]="'15px'"
  [position]="'68%'"
  [delay]="'3.5s'"
></app-square-animation>
<app-square-animation
  [color]="'white'"
  [heigth]="'15px'"
  [width]="'15px'"
  [position]="'71%'"
  [delay]="'5.5s'"
></app-square-animation>
<app-square-animation
  [color]="'#45BEA2'"
  [heigth]="'16px'"
  [width]="'16px'"
  [position]="'25%'"
  [delay]="'2s'"
></app-square-animation>
<app-square-animation
  [color]="'#E6F1E1'"
  [heigth]="'15px'"
  [width]="'15px'"
  [position]="'30%'"
  [delay]="'1s'"
></app-square-animation>
<app-square-animation
  [color]="'white'"
  [heigth]="'15px'"
  [width]="'15px'"
  [position]="'87%'"
  [delay]="'.5s'"
></app-square-animation>
<app-square-animation
  [color]="'blueviolet'"
  [heigth]="'16px'"
  [width]="'16px'"
  [position]="'15%'"
  [delay]="'7s'"
></app-square-animation>
<app-square-animation
  [color]="'white'"
  [heigth]="'15px'"
  [width]="'15px'"
  [position]="'90%'"
  [delay]="'7.5s'"
></app-square-animation>
<app-square-animation
  [color]="'#E6F1E1'"
  [heigth]="'15px'"
  [width]="'15px'"
  [position]="'7%'"
  [delay]="'7.5s'"
></app-square-animation>
<app-square-animation
  [color]="'blueviolet'"
  [heigth]="'16px'"
  [width]="'16px'"
  [position]="'50%'"
  [delay]="'6.5s'"
></app-square-animation>
<app-square-animation
  [color]="'#CAE3E8'"
  [heigth]="'15px'"
  [width]="'15px'"
  [position]="'68%'"
  [delay]="'9.5s'"
></app-square-animation>
<app-square-animation
  [color]="'white'"
  [heigth]="'15px'"
  [width]="'15px'"
  [position]="'71%'"
  [delay]="'10.5s'"
></app-square-animation>
<app-square-animation
  [color]="'#45BEA2'"
  [heigth]="'16px'"
  [width]="'16px'"
  [position]="'25%'"
  [delay]="'10s'"
></app-square-animation>
<app-square-animation
  [color]="'#E6F1E1'"
  [heigth]="'15px'"
  [width]="'15px'"
  [position]="'30%'"
  [delay]="'10s'"
></app-square-animation>
<app-square-animation
  [color]="'white'"
  [heigth]="'15px'"
  [width]="'15px'"
  [position]="'87%'"
  [delay]="'10.5s'"
></app-square-animation>
