<search-input
  [value]="pokemonInputFilter$ | async"
  (newFilter)="handleFilter($event)"
></search-input>
<div id="card--container">
  @for (pokemon of pokemonDetailedPaginatedList$ | async; track pokemon.id) {
    <poke-card
      [pokemon]="pokemon"
      [loading]="pokemonDetailedPaginatedListLoading$ | async"
      (click)="showDetail(pokemon)"
    ></poke-card>
  }
</div>
@if (
  (pokemonDetailedPaginatedListLoaded$ | async) === true &&
  (pokemonDetailedPaginatedListLength$ | async) === 0
) {
  <not-found-card></not-found-card>
}
@if ($any(pokemonDetailedPaginatedListLength$ | async) > 0) {
  <div id="footer">
    <app-pokemon-pagination></app-pokemon-pagination>
  </div>
}
