@if (pokemons$ | async; as pokemonState) {
<search-input
  [value]="pokemonState.filter"
  (newFilter)="handleFilter($event)"
></search-input>
<div id="card--container">
  @for (pokemon of pokemonState.detailedPaginatedList; track pokemon.id) {
  <poke-card
    [pokemon]="pokemon"
    [loading]="pokemonState.loading"
    (click)="showDetail(pokemon)"
  ></poke-card>
  }
</div>
@if (!pokemonState.loading && pokemonState.detailedPaginatedList.length === 0) {

<not-found-card></not-found-card>

} @if (pokemonState && pokemonState.detailedPaginatedList.length > 0) {

<div id="footer">
  @if (pagination$ | async; as pagination) { @if (pokemonState.showPagination) {
  <pagination
    [pagination]="pagination"
    (clickNext)="handleNext()"
    (clickPrevious)="handlePrevious()"
  ></pagination>
  } }
</div>
} }
