#card--container {
  width: 260px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  z-index: 1;
  position: relative;
}

#footer {
  margin: 15px 0;
  padding-bottom: 30px;
}

@media (min-width: 425px) {
  #card--container {
    width: 390px;
  }
}

@media (min-width: 1024px) {
  #card--container {
    width: 520px;
  }
  #footer {
    padding-bottom: 0;
  }
}

@media (min-width: 1440px) {
  #card--container {
    width: 650px;
  }
}

@media (min-width: 2560px) {
  #card--container {
    width: 1300px;
  }
}
