input {
    width: calc(100% - 10px);
    margin: 15px 5px;
    position: relative;
    z-index: 1;
    transition: all 0.3s;
    border-radius: 15px;
    height: 25px;
    border: 1px solid rgb(69, 190, 162);
    text-align: center;
    font-size: 15px;
}

input::placeholder {
    text-align: center;
}

input:focus {
    transform: scale(1.01);
    outline: none;
    border-color: blueviolet;
}

#closeBtn {
    cursor: pointer;
    background-color: blueviolet;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    right: 10px;
    z-index: 2;
    transition: right 0.3s;
    width: 20px;
    height: 20px;
    text-align: center;
}