<div [@enterAnimation] class="card">
  @if (!loading) {
    @if (pokemon) {
      @if (!error) {
        <img
          #cardImage
          width="96"
          height="96"
          alt="Pokemon front sprite"
          priority
          [ngSrc]="pokemon.id + '.png'"
          (error)="error = true"
        />
      } @else {
        <img
          src="/assets/surprised_pikachu.svg"
          height="96"
          width="96"
          alt="Not found image"
        />
      }
    }
    <h4 [title]="pokemon.name">{{ pokemon.name | titlecase }}</h4>
  } @else {
    <div class="skeleton-cark">
      <app-skeleton-square height="96px" width="96px"></app-skeleton-square>
      <app-skeleton-square height="10px" width="100%"></app-skeleton-square>
    </div>
  }
  <div class="card--bar"></div>
</div>
